<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CampaniaEntidades" connectionString="metadata=res://*/BaseDatos.CampaniaBD.csdl|res://*/BaseDatos.CampaniaBD.ssdl|res://*/BaseDatos.CampaniaBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERTI-05-T-PC\SERTI05T;Initial Catalog=Campania;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>