<configuration>
  
    <connectionStrings>
      <add name="CampaniaEntidades" connectionString="metadata=res://*/BaseDatos.CampaniaBD.csdl|res://*/BaseDatos.CampaniaBD.ssdl|res://*/BaseDatos.CampaniaBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERTI-05-T-PC\SERTI05T;Initial Catalog=Campania;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>


<system.web>
  <compilation debug="true" targetFramework="4.0" />
</system.web>
<system.serviceModel>
  <behaviors>
    <serviceBehaviors>
      <behavior name="">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="false" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
</system.serviceModel>
</configuration>
